*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android build
*.apk
*.ap_
*.aab
*.dex
*.class
/bin/
/gen/
/out/
/build/
.gradle/
build/
app/build/

.idea/
captures/
.cxx/

.kotlin/

# Secrets
appconfig.properties